body {
  // from https://sharank.com/posts/websites/change-pg-width-and-font-size/
  // margin: 0 auto;
  // Adjusting the max-width to increase page width. 
  // The original file path - `/<website-root>/themes/<theme-name>/assets/scss/..`
  // max-width: 90rem;
  // max-width: 100rem;
  // width: 100%;
  // padding-left: 2rem;
  // padding-right: 2rem;
  font-size: 16px
}

